<section id="team" class="uneven-section team">
  <div class="container">
    <h2>Our Amazing Team</h2>
    <h3>Lorem ipsum dolor sit amet.</h3>
    <div class="row">
      <div class="col-md-4 text-center">
        <%= image_tag("https://images3.imgbox.com/9b/2f/apW5BPAA_o.jpg", :class => 'team-image')%>
        </br>
        </br>
        <h4>Malcolm Developer</h4>
        <p>Lead Developer</p>
        <%= link_to("https://twitter.com/") do %>
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        <% end %>
        <%= link_to("https://discordapp.com/") do %>
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-discord fa-stack-1x fa-inverse"></i>
          </span>
        <% end %>
      </div>
      <div class="col-md-4 text-center">
        <%= image_tag("https://i.imgur.com/E9v0Uwt.jpg", :class => 'team-image')%>
        </br>
        </br>
        <h4>Malcolm Designer</h4>
        <p>Lead Designer</p>
        <%= link_to("https://twitter.com/") do %>
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        <% end %>
        <%= link_to("https://discordapp.com/") do %>
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-discord fa-stack-1x fa-inverse"></i>
          </span>
        <% end %>
      </div>
      <div class="col-md-4 text-center">
        <%= image_tag("https://www.bellazon.com/main/uploads/monthly_08_2014/post-5685-0-1446024628-49517_thumb.jpg", :class => 'team-image')%>
        </br>
        </br>
        <h4>Malcolm Marketer</h4>
        <p>Lead Marketer</p>
        <%= link_to("https://twitter.com/") do %>
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        <% end %>
        <%= link_to("https://discordapp.com/") do %>
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-discord fa-stack-1x fa-inverse"></i>
          </span>
        <% end %>
      </div>
    </div>
    </br>
    </br>
    </br>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 text-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
          exercitation.</p>
      </div>
    </div>
  </div>
</section>