<!DOCTYPE html>
<html>
  <head>
    <title>Onepageapp</title>
    <%= csrf_meta_tags %>
      <link href="https://fonts.googleapis.com/css?family=Cabin:400,400i|Open+Sans:800|Lobster|EB+Garamond" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigaton">
    <div class="container">
      <div class="navbar-header">
        <%= link_to root_path, class: "navbar-brand" do %>
          Start Bootstrap
        <% end %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li> <%= link_to "SERVICES", href="#services" %></li>
        <li> <%= link_to "PORTFOLIO", href="#portfolio" %></li>
        <li> <%= link_to "ABOUT", href="#about" %></li>
        <li> <%= link_to "TEAM", href="#team" %></li>
        <li> <%= link_to "CONTACT US", href="#contact" %></li>
      </ul>
    </div>
  </nav>
  <header>
    <div class="home-callout text-center conteiner-fluid"> 
      <div class="intro-lead-in">Welcome To Our Studio!</div>
      <div class="intro-heading">IT'S NICE TO MEET YOU</div>
      </br>
      <%= link_to "TELL ME MORE", href="#services", class: 'btn btn-warning btn-lg'%>
    </div>
  </header>
  
      <%= yield %>
    
  </body>
</html>
